body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f0f0f0;
}

.signup-container {
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

form {
    display: flex;
    flex-direction: column;
}

label {
    margin-top: 10px;
}

input,
select,
textarea {
    margin-bottom: 15px;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

button {
    background-color: #4caf50;
    color: #fff;
    padding: 10px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

button:hover {
    background-color: #45a049;
}
body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f0f0f0;
}

header {
    background-color: #333;
    color: #fff;
    padding: 15px;
    text-align: center;
}

nav {
    margin-top: 10px;
}

ul {
    list-style-type: none;
    padding: 0;
    display: flex;
    justify-content: center;
}

li {
    margin: 0 15px;
}

a {
    text-decoration: none;
    color: #FF0000;
    font-weight: bold;
}

section {
    padding: 50px 0;
}

.content {
    max-width: 800px;
    margin: 0 auto;
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h2 {
    color: #333;
}

footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 10px;
}

#password-checklist-container {
    margin-top: 10px;
}

#password-checklist {
    list-style-type: none;
    padding: 0;
    color: #ff0000; /* Adjust the color as needed */
    font-size: 14px; /* Adjust the font size as needed */
}

#password-checklist li {
    margin-bottom: 3px;
}

.signup-button {
    display: inline-block;
    background-color: #4caf50;
    color: #fff;
    padding: 10px;
    border: none;
    border-radius: 4px;
    text-decoration: none;
    cursor: pointer;
}

.signup-button:hover {
    background-color: #45a049;
}


.checklist {
    list-style-type: none;
    padding: 0;
    color: #ff0000;
    font-size: 14px;
}

.error-message {
    color: #ff0000;
    font-size: 14px;
    margin-top: 5px;
}
.checkbox-container {
    display: flex;
    align-items: baseline;
    margin-top: 10px;
}

.checkbox-container input {
    margin-right: 5px;
}

/* Add more styling as needed */

/* Hover effect for the "Terms and Conditions" link */
.checkbox-container a:hover {
    text-decoration: underline;
    color: #0066cc; /* Adjust the color as needed */
}
